@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1> ¡Hola mundo! </h1>
    <h2> Ejercicios: </h2>
    @Html.ActionLink("Ejercicio 2", "listadoProductos", "Productos")
    </br>
    @Html.ActionLink("Ejercicio 3", "hora", "Hora")
    </br>
    @Html.ActionLink("Ejercicio 4", "tablaMultiplicar", "Tabla")

</div>  
    