@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<ul> 
    <li> Esponja </li>
    <li> Champú </li>
    <li> Gel </li>
    <li> Jabón </li>
    <li> Guantes </li>
    </br>
    <p> Volver al @Html.ActionLink("Ejercicio 1", "index", "Home") </p>
</ul>
