@model Domain.Entities.Departamento

@{
    ViewBag.Title = "Crear Departamento";
}

<h2>Crear Departamento</h2>

@using (Html.BeginForm("Create", "Departamento", FormMethod.Post))
{
    <div class="form-group">
        <label>Nombre</label>
        @Html.TextBoxFor(m => m.nombre, new { @class = "form-control" })
    </div>

    <br />

    <button type="submit" class="btn btn-primary">Crear</button>
    <a class="btn btn-secondary" href="@Url.Action("Index", "Departamento")">Cancelar</a>
}
